
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, svg {
  display: block;
  max-width: 100%;
}

button, 
input,
label {
  font: inherit;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}


:root {
  /* font */
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  --fs-heading: 40px;
  
  /* colors */
  --bkd: hsl(235, 18%, 26%);
  --bkg: hsl(0, 0%, 100%);
  --email : hsl(231, 7%, 60%);
  --text : hsl(234, 29%, 20%);
  --error : hsl(4, 100%, 67%);
  --error-soft: hsl(3, 75%, 86%);
  color-scheme: light;

  /* spacing */
  --space--sm : 6px;
  --space--md : 16px;
  --space--lg : 24px;
  --space--xl : 32px;

  /* radius */
  --round--sm: 0.5rem;
  --round--md : 1rem;
  --round--lg : 100vmax;

  /* transitions */
  --ease-elastic : cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
  background-color: var(--bkd);
  color: var(--text);
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: var(--fs-heading);
  line-height: 1.1;
}

p {
  max-width: 40ch;
}

small {
  font-size: 0.8rem;
}

/* form */
label {
  font-weight: bold;
}

input {
  padding: 1rem;
  padding-left: 1.3rem;
  color: var(--email);
  border: 0.5px solid var(--email);
  border-radius: var(--round--sm);
  width: 100%;
}
/* 
input.error {
  background-color: hsl(3, 75%, 86%);
  box-shadow: 0 0 0 2px var(--error);
  color: var(--error);
} */

.content {
  display: grid;
  gap : var(--space--md);
  padding: 1.2em;
}

.wrapper {
  background-color: var(--bkg);
  display: flex;
  flex-wrap: wrap-reverse;
}

.error-msg {
  color: var(--error)
}

/* button styling */
.btn {
  background-color: var(--text);
  color: var(--bkg);
  padding: 1rem;
  border-radius: var(--round--sm);
  font-weight: 700;
  width: 100%;
  text-align: center;
  transition : background-color 200ms var(--ease-elastic)
}

.btn:hover {
  background-color: var(--bkd);
}

.btn:focus {
  outline: 2px solid transparent;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}



/* utils */
.hidden {
  display: none;
}

.flex--md {
  display: flex;
  gap: var(--space--md);
}

.form-labels {
  display: flex;
  justify-content: space-between;
}

.grid--md {
  display: grid;
  gap: var(--space--md);
}

.grid--sm {
  display: grid;
  gap : var(--space--sm);
}

.icon--sm {
  flex-shrink: 0;
}

.items-start {
  align-items: center;
}

@media only screen and (max-width: 375px) {
    .image--desktop {
      display:none;
    }

}

@media only screen and (min-width: 375px) {
  .image--mobile {
    display:none;
  }
  .wrapper {
    flex-wrap:nowrap;
  }
}

